/__pycache__/
/trials/
/temp/
/SYSTEM_LOGS/audit/output/
/SYSTEM_LOGS/MagicIAM/output/
/SYSTEM_LOGS/MagicLine/output/
/SYSTEM_LOGS/MagicSSO/output/
/SYSTEM_LOGS/poc/output/
/SYSTEM_LOGS/poc/temp/
/FORMATTED/analysis_results/
/FORMATTED/processed_data/
/FORMATTED/__pycache__/